 /* Styles pour la barre de navigation */
 nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 5px 10px; 
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
}
/* Styles pour la barre de navigation */
.nav-container {
    background-color: #2c3e50;
    color: #fff;
    padding: 5px 10px; 
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
/* Styles pour les liens de navigation */
nav ul {
    padding: 0;
    margin: 0;
    list-style: none; 
    display: flex; 
    align-items: center;
    margin-right: auto;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li:first-child {
    margin-left: 0; 
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

/* Change la couleur au survol */
nav ul li a:hover {
    background-color: #34495e;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 60px; 
}

.buttons-container {
    text-align: right;
    margin-top: 20px;
}

.button-primary,
.button-secondary,
.button-centré,
.reinitialiser-btn,
button {
    border-radius: 5px;
}

.buttons-container button,
.reinitialiser-btn, 
button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.buttons-container button:hover {
    background-color: #2980b9; 
}

.buttons-container button.button-centré {
    display: block;
    margin: 0 auto;
}


footer {
    color: #fff;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 0;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.horizontal-bar {
    border: 4px solid #2c3e50; 
    margin: 20px 0;
}

.engagement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.engagement-pair {
    flex-basis: calc(20% - 10px);
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.engagement {
    color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.engagement h3 {
    margin: 0;
}

.engagement img {
    width: 100%;
    height: auto;
}

.engagement-pair .engagement,
.engagement-pair a {
    display: block;
    margin-bottom: 10px; 
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.voiture.en.avant {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; 
    width: 100%;
    justify-content: space-between;
}

.voiture.en.avant a {
    border: 3px solid #2C3E50;
    border-radius: 5px;
    margin: 5px; 
    display: inline-block; 
}

.voiture.en-avant img {
    max-width: 100%;
    height: auto;
}

.footer-container {
    background-color: #fff; 
    padding: 20px;
    text-align: center;
    color: #fff; 
}

.footer-container p {
    margin: 5px 0;
    font-size: 14px; 
}

.footer-info {
    background-color: #2c3e50; 
    padding: 5px 20px; 
    text-align: center; 
    color: #fff; 
    font-size: 14px;
    margin: 0; 
    border-radius: 5px; 
    max-width: 300px; 
    margin: 0 auto; 
}


.footer-links li a {
    color: #333; 
    text-decoration: none;
}

/* Styles pour le logo */
.logo {
    display: flex; 
    align-items: center; 
}

.container-full-width {
    display: flex;
    justify-content: center; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.col {
    flex: 1 1 100%; 
    max-width: 100%; 
}

.about-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

/* Styles pour les images */
.about-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* Pour ajuster "UN NOM, UNE HISTOIRE" et "L'AMOUR DE L'AUTOMOBILE" */
.about-image img.first-container-image,
.about-image img.second-container-image {
    width: 100%;
    max-height: 350px; 
    height: auto;
}

/* Styles pour le conteneur des images */
.image-container {
    display: flex;
    overflow-x: auto; 
    height: 350px;
}

/* Styles pour les images */
.image-container img {
    flex-shrink: 0; 
    height: 100%; 
    max-width: 100%; 
    object-fit: cover; 
    margin-right: 10px; 
}

.container-à-propos .row {
    display: flex; 
}

.container-à-propos .col {
    flex: 1; 
    max-width: 50%; 
}

.about-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.about-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
/* Styles spécifiques pour la deuxième page */
.container-univers {
    display: flex;
    justify-content: space-around;
}

.container-univers .row {
    display: flex;
}

.container-univers .col {
    flex: 1;
}

.container-univers .about-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.container-univers .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h1-padding,
.nos-véhicules,
.h1-nosavis {
    padding-top: 100px;
}
.p-univers {
    padding-left: 380px;
    padding-right: 380px;
    text-align: center;
}
/* Styles pour le conteneur des chiffres */
.chiffres-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/* Styles pour chaque élément de chiffre */
.chiffre-item {
    text-align: center;
}

/* Styles pour le cercle de chiffre */
.chiffre-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2c3e50;
    color: #fff;
    font-size: 24px;
    line-height: 100px;
}

/* Ajout d'un espace supplémentaire pour le texte */
.chiffre-item p {
    margin-top: 10px;
}
/* Styles pour le conteneur des services */
.services-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* Styles pour chaque élément de service */
.service-item {
    position: relative; 
}

/* Pour ajuster la taille de "MECANIQUE", "CARROSSERIE", "PNEUMATIQUES", "PARE-BRISE" */
.service-image {
    width: 100%; 
    height: auto; 
    position: relative; 
}

/* Styles pour le texte en surimpression */
.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
/* Styles pour le texte en surimpression au survol */
.service-item:hover .image-overlay {
    background-color: rgba(0, 0, 0, 0.7); 
}
/* Pour ajuster la taille de "UN NOM, UNE HISTOIRE" et de "L'AMOUR DE L'AUTOMOBILE" */
.about-image img.first-container-image {
    width: 100%; 
    height: auto; 
}
.service-overlay {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
    font-weight: bold;
}
/* Pour positionner l'encart semi-transparent */
.service-item {
    position: relative; 
}

.service-image img {
    width: 100%; 
    height: auto; 
}

/* Pour ajuster la hauteur de l'encart semi-transparent en fonction de la taille de l'image */
.service-overlay {
    bottom: 0; 
    height: auto; 
}

/* Centrer le texte dans les encarts semi-transparents */
.service-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Pour ajuster la taille de "MÉCANIQUE", "CARROSSERIE", "PNEUMATIQUES", "PARE-BRISE" */
.service-image img {
    width: 100%; 
    height: 200px; 
}
/* Style pour le bouton "Mon compte" */
.button-secondary,
.button-secondary-annuler,
.button-secondary-envoyer {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-secondary:hover, 
.button-secondary-annuler:hover,
.button-secondary-envoyer:hover,
.reinitialiser-btn:hover,
button:hover {
    background-color: #2980b9;
}
.h1-moncompte {
    text-align: start;
    padding-top: px;
}

.email,
.password,
.prenom,
.role,
.nom {
    margin-bottom: 20px;
}

/* Style pour les labels */
.email label,
.password label,
.prenom label,
.role label,
.nom label,
.telephone label {
    display: block; 
    font-weight: bold; 
}
/* Style pour le texte "Mot de passe oublié ?" */
.forgot-password {
    font-size: 12px; 
    float: right;
}
/* Style pour les champs de saisie */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="nom"],
input[type="prenom"],
input[type="telephone"]
{
    border-radius: 3px; 
    padding: 5px; 
    width: 300px; 
    box-sizing: border-box; 
}
/* Style pour la liste déroulante "Rôle" */
select#role {
    border-radius: 3px;
    padding: 5px; 
    width: 300px; 
    box-sizing: border-box; 
}
.mon-compte {
    padding: 1px 10px;
    margin: 0;
    position: absolute;
    top: 0;
    padding-top: 0;
}
.button-secondary-annuler,
button {
    margin-right: 120px; 
}

.service-container {
    padding-top: 50px;
    max-width: 70%;
    margin-left: 0; 
    display: flex;
    align-items: flex-start; 
    position: relative; 
}

.service-image {
    flex: 0 0 25%; 
    margin-right: 20px; 
}

.service-image img {
    padding-top: 30px;
    width: 35vw; 
    height: auto; 
}

.service-text {
    flex: 1; 
    font-family: 'Poppins', sans-serif; 
    color: #333; 
    padding-top: 1px; 
}
.special-text {
    font-size: smaller; 
    font-weight: bold;
}
.special-heading {
    font-size: 1.5em; 
    font-weight: bold; 
}
/* Ajoutez ce CSS pour modifier l'ordre des éléments à chaque section */
.service-container:nth-child(even) .service-image {
    order: 2; 
}

.service-container:nth-child(odd) .service-text {
    order: 2; 
}

.filtrer-section {
    border: 5px solid #2c3e50; 
    padding: 20px; 
    max-width: 400px; 
    display: inline-block; 
}

.nb-vehicules {
    display: inline-block; 
    color: #333;
    padding: 10px;
    border-radius: 5px;
    vertical-align: top; 
    margin-top: -10px; 
}

/* Styles pour les boutons de la page "Nos véhicules" */
.button-nos-vehicules {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-nos-vehicules:hover {
    background-color: #2980b9;
}

/* Styles pour les boutons à l'intérieur de chaque encart filtrer-encart */
.filtre-encart button {
    float: right; 
    margin: 0; 
}
/* Styles pour les valeurs de kilométrage */
.kilometrage-filtre .filtre-encart,
.annee-filtre .filtre-encart,
.prix-filtre .filtre-encart {
    font-size: 11px; 
}
/* Réduit le padding sur les côtés des encarts d'avis */
.avis-client {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 20px; 
}
/* Augmente l'espace entre la section commentaire et le login */
#commentaire {
    margin-bottom: 20px; 
}

#login {
    margin-bottom: 20px; 
}

/* Déplace les boutons vers la droite et ajoute de l'espace autour d'eux */
.buttons-container button {
    margin-left: 10px; 
}
.avis-droite form {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.star {
    color: #ffc107; 
    font-size: 20px; 
    margin-right: 5px; 
}
